@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Brush+Script&display=swap');




#brand-first{
	color : green;
	font-family: 'Nanum Brush Script', cursive;
	
}

#brand-second{
	font-family: 'Do Hyeon', sans-serif;
}

#time{
	color :blue;
	font-size : 30px;
	font-family: 'Do Hyeon', sans-serif;
}