<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
   <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
	integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
	crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ixk7pox952"></script>
<link rel="stylesheet" type="text/css" href="./css/common.css">
<link rel="stylesheet" type="text/css" href="./css/create_map.css">
</head>
<body>

<div class ="container">
	<div th:replace = "./common/topbar_b :: topbar"></div> 
	<div class="row">
		<div id="map" style="width:100%;height:55vh;" ></div>
	</div>
	<div class="row mt-4 mb-2">
		<button id ="start" class="btn btn-lg btn-outline-primary">Start</button>
		<button id ="complete" class="ml-3 btn btn-lg btn-outline-danger">Stop</button>
		<div class="ml-3" id="description">
			<span>Start 버튼을 클릭하면 경로를 생성하기 시작합니다.</span>
			<br>
			<span>Stop 버튼을 클릭하면 경로 생성이 종료됩니다.</span>
		</div>
	</div>
</div>

<div class="modal fade" id="createRoute" tabindex="-1" role="dialog" aria-labelledby="selectCmpnyModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">산책 경로 정보를 입력해주세요.</h5>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="routeName">경로 이름</label>
                  	<input type="text" class="form-control" id="routeName" name="routeName" placeholder="경로 이름" required>
                  	<div class="invalid-feedback col-5" id ="validRouteName">
						경로 이름을 입력해주세요.
				 	</div>
				</div>
				<div class="form-group">
					<label for="routeKeyword">키워드</label>
                  	<input type="text" class="form-control" id="routeKeyword" name="routeKeyword" placeholder="# , 공백 등 특수 문자로 구분하여 여러 테마를 입력해주세요. 최대 5개까지 저장이 가능합니다.">
				</div>
				<div class="form-group">
					<label for="routeInfo">설명</label>
                  	<input type="text" class="form-control" id="routeInfo" name="routeInfo" placeholder="경로 설명을 입력해주세요. ( 최대 1000자 )">
				</div>
			</div>
			<div class="modal-footer">
				<button onclick ='createRoute()' class="btn btn-primary">경로 생성</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>	  	  
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="./js/common.js"></script>
<script src="./js/map.js"></script>
<script th:inline="javascript">
		var user_name = [[${session.userNickName}]];
</script>
</body>
</html>