<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"> 
</head>
<body >
<div th:fragment="topbar">
	<nav class="navbar navbar-expand-lg navbar-light pt-5" >
 		 <a id="brand" class="navbar-brand mr-5 mb-3 ml-3" href="/">
   			 <span id ="brand-first" class ="row display-4">산포미치</span>
   			 <span id ="brand-second" class ="row display-5">자신만의 산책길 만들기</span>
  		</a>
  		
  		
  		<div class="input-group input-group-lg">
 			 <input type="text" class="form-control" id="kw_list" placeholder="검색하고 싶은 키워를 입력하세요. 특수문자로 구분하여 최대 3개까지 검색 가능." aria-label="Text input with dropdown button">
  				<div class="input-group-append">
  					<button class="btn btn-outline-primary mr-4" type="button" id="kw_search">Search</button>
  					<div class="row">
  						<div class="col">
  							<button th:if="${session.userNickName} == null" class="btn btn-outline-secondary" type="button">
  								<a href="login.html">Login</a>
  							</button>
    						<button th:if="${session.userNickName} != null" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${session.userNickName}"></button>
   							<div class="dropdown-menu">
     							<a class="dropdown-item" href="#">MyPage</a>
      							<div role="separator" class="dropdown-divider"></div>
      							<a class="dropdown-item" href="javascript:logout();">Logout</a>
   							</div>
   						</div>
   					</div>
  				</div>
		</div>
	</nav>
</div>


<script src="./js/common.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>